html {
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.4em;
    padding: 0;
    margin: 0;
    width: 100%;
}

.counter {
    display: flex;
    align-items: center;
}
.counter_title {
    width: 100px;
    text-transform: uppercase;
}

#cat_display {
    margin: auto;
}

#cat_list {
    list-style: none;
    border-radius: 0.375rem;
    padding: 0;
    height: 360px;
    width: 250px;
    padding: .2em 1em;
}

.app_intro {
    padding: 1em;
    text-align: center;
    /* margin-bottom: 2em; */
}
.app_intro_main_title {
    font-size: 3em;
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
    margin-bottom: 2em;
}

.cat_name {
    font-size: 1em;
}
.cat_name::before {
    content: 'NAME: ';
}

.cat_title {
    font-size: 1.2em;
}
.cat_names {
    font-size: 1em;
    margin-bottom: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.cat_names:hover {
    color: #ff5483;
}

.counter_clicks {
    font-size: 2em;
}

.cat_img {
    width: 100%;
    border-radius: 0.375rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .app_intro_main_title {
        font-size: 2.5rem;
    }

    #cat_list {
        margin: 0 auto 2em;
        width: 100%;
    }
}